argparse==1.4.0
colour==0.1.5
numpy
Pillow
progressbar==2.5
scipy
tqdm
opencv-python
pycairo==1.17.1; sys_platform == 'linux'
pycairo>=1.18.2; sys_platform == 'win32'
pydub
pyreadline==2.1; sys_platform == 'win32'
